.nav-toggle {
  &.two {
    background: #161616;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    color: #ffffff;
    height: map-get($header, height);

    .widescreen {
      position: relative;
      .logo {
        position: absolute;
        height: 25px;
        top: 18px;
        @include ltr-doRTL(left, 0);
        z-index: 3;
      }
      a:not(.btn):not(.btn-primary):not(.btn-secondary):not(.btn-primary-enterprise):not(.btn-secondary-enterprise):not(.btn-secondary-enterprise-ico) {
        color: inherit;
        text-decoration: none;
      }
      .main-nav {
        list-style: none;
        position: absolute;
        font-size: 14px;
        > .nav-item {
          display: inline-block;
          cursor: pointer;
          &:hover .submenu {
            display: block;
          }
        }
      }
      .main-nav.left-links {
        @include ltr-doRTL(left, 92px);
        top: 24.5px;
        font-weight: 700;
        > .nav-item {
          padding: 0 14px;
        }
      }
      .main-nav.right-links {
        @include ltr-doRTL(right, 0);
        top: 12px;
        z-index: 0;
        > .nav-item.default-item,
        > .dashboard-link.default-item {
          padding: 0 6px;
        }
        > .nav-item.divider-left,
        > .dashboard-link.divider-left {
          padding: 8px 18px;
        }
        > .nav-item.visitor-item .btn-primary {
          padding: 10px 15px;
          height: auto;
          width: auto;
        }
      }
      .submenu {
        display: none;
        position: absolute;
        list-style: none;
      }
      .submenu .subnav {
        margin-top: 20px;
        background: #ffffff;
        color: #161616;
        @include ltr-doRTL(padding, 4px 16px 10px 15px);
        border-radius: 2px;
        box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.2);
        font-weight: 400;
        min-width: 175px;
      }
      .submenu .subnav::before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 15px;
        @include ltr-doRTL(left, 28px);
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #ffffff;
      }
      .submenu .subnav .subnav-item {
        display: block;
        padding: 5px 2px;
        margin: 4px 0;
        width: 100%;
      }
      .submenu .subnav .subnav-item.border-bottom {
        border-bottom: 1px solid #f3f3f3;
      }
      .submenu .subnav .subnav-item:hover {
        color: #1cbf43;
      }
    }
    // .narrowscreen {
    //   display: none;
    // }
    // .narrowscreen .navbar-toggle {
    //   position: absolute;
    //   top: 13px;
    //   @include ltr-doRTL(left, 10px);
    //   display: block;
    //   border: none;
    //   background: transparent;
    // }
    // .narrowscreen .navbar-toggle .icon-bar {
    //   width: 22px;
    //   transition: all 0.2s;
    //   background: #ffffff;
    //   pointer-events: none;
    // }
    // .narrowscreen .navbar-toggle .top-bar {
    //   -webkit-transform: rotate(45deg);
    //   -ms-transform: rotate(45deg);
    //   transform: rotate(45deg);
    //   -webkit-transform-origin: 10% 10%;
    //   -ms-transform-origin: 10% 10%;
    //   transform-origin: 10% 10%;
    // }
    // .narrowscreen .navbar-toggle .middle-bar {
    //   opacity: 0;
    // }
    // .narrowscreen .navbar-toggle .bottom-bar {
    //   -webkit-transform: rotate(-45deg);
    //   -ms-transform: rotate(-45deg);
    //   transform: rotate(-45deg);
    //   -webkit-transform-origin: 10% 90%;
    //   -ms-transform-origin: 10% 90%;
    //   transform-origin: 10% 90%;
    // }
    // .narrowscreen .navbar-toggle.collapsed .top-bar {
    //   -webkit-transform: rotate(0);
    //   -ms-transform: rotate(0);
    //   transform: rotate(0);
    // }
    // .narrowscreen .navbar-toggle.collapsed .middle-bar {
    //   opacity: 1;
    // }
    // .narrowscreen .navbar-toggle.collapsed .bottom-bar {
    //   -webkit-transform: rotate(0);
    //   -ms-transform: rotate(0);
    //   transform: rotate(0);
    // }
    // .narrowscreen .logo {
    //   height: 35px;
    //   position: absolute;
    //   display: block;
    //   left: 0;
    //   right: 0;
    //   margin: 20px auto;
    // }
    // .narrowscreen .login {
    //   position: absolute;
    //   right: 10px;
    //   top: 24px;
    // }
    // .narrowscreen .login a {
    //   color: #ffffff;
    //   font-weight: 400;
    // }
    // .narrowscreen .navbar-toggle.collapsed ~ .dropdown-menu2 {
    //   display: none;
    // }
    // .narrowscreen .dropdown-menu2 {
    //   position: fixed;
    //   overflow: scroll;
    //   height: calc(100% - 65px);
    //   width: 100%;
    //   top: 65px;
    //   left: 0px;
    //   padding: 0 12px 24px 12px;
    //   background: #161616;
    //   list-style: none;
    // }
    // .narrowscreen .dropdown-menu2 > .border-bottom {
    //   border-bottom: 1px solid #d8d8d8;
    // }
    // .narrowscreen .dropdown-menu2 li {
    //   color: inherit;
    //   width: 100%;
    //   padding: 14px 0;
    //   cursor: pointer;
    //   font-weight: 600;
    // }
    // .narrowscreen .dropdown-menu2 li .btn,
    // .narrowscreen .dropdown-menu2 li .btn-primary,
    // .narrowscreen .dropdown-menu2 li .btn-secondary,
    // .narrowscreen .dropdown-menu2 li .btn-primary-enterprise,
    // .narrowscreen .dropdown-menu2 li .btn-secondary-enterprise,
    // .narrowscreen .dropdown-menu2 li .btn-secondary-enterprise-ico {
    //   width: 100%;
    // }

    // .narrowscreen
    //   .dropdown-menu2
    //   li
    //   a:not(.btn):not(.btn-primary):not(.btn-secondary):not(.btn-primary-enterprise):not(.btn-secondary-enterprise):not(.btn-secondary-enterprise-ico) {
    //   color: inherit;
    //   padding: 0;
    //   font-weight: inherit;
    //   text-decoration: none;
    //   width: 100%;
    //   display: inline-block;
    // }

    // .narrowscreen
    //   .dropdown-menu2
    //   li
    //   a:not(.btn):not(.btn-primary):not(.btn-secondary):not(.btn-primary-enterprise):not(.btn-secondary-enterprise):not(.btn-secondary-enterprise-ico):hover {
    //   background: #161616;
    //   color: #1cbf43;
    // }

    // .narrowscreen
    //   .dropdown-menu2
    //   li
    //   a:not(.btn):not(.btn-primary):not(.btn-secondary):not(.btn-primary-enterprise):not(.btn-secondary-enterprise):not(.btn-secondary-enterprise-ico):active {
    //   color: #27a0b6;
    // }
    // .narrowscreen .dropdown-menu2 li .btn,
    // .narrowscreen .dropdown-menu2 li .btn-primary,
    // .narrowscreen .dropdown-menu2 li .btn-secondary,
    // .narrowscreen .dropdown-menu2 li .btn-primary-enterprise,
    // .narrowscreen .dropdown-menu2 li .btn-secondary-enterprise,
    // .narrowscreen .dropdown-menu2 li .btn-secondary-enterprise-ico {
    //   color: #ffffff;
    //   font-weight: 600;
    // }
    // .narrowscreen .dropdown-menu2 li .btn:hover,
    // .narrowscreen .dropdown-menu2 li .btn-primary:hover,
    // .narrowscreen .dropdown-menu2 li .btn-secondary:hover,
    // .narrowscreen .dropdown-menu2 li .btn-primary-enterprise:hover,
    // .narrowscreen .dropdown-menu2 li .btn-secondary-enterprise:hover,
    // .narrowscreen .dropdown-menu2 li .btn-secondary-enterprise-ico:hover {
    //   background: #1cbf43;
    // }
    // .narrowscreen .dropdown-menu2 li.arrow > .subnav {
    //   list-style: none;
    //   padding: 0;
    //   margin-top: 15px;
    //   opacity: 0.8;
    // }
    // .narrowscreen .dropdown-menu2 li.arrow > .subnav .subnav-item {
    //   padding-left: 0;
    //   font-weight: 400;
    // }
    // .narrowscreen .dropdown-menu2 li.arrow.collapsed .subnav {
    //   display: none;
    // }
    // .narrowscreen .dropdown-menu2 li.arrow.collapsed .fa-angle-right {
    //   -webkit-transform: rotate(90deg);
    //   -ms-transform: rotate(90deg);
    //   transform: rotate(90deg);
    // }
    // .narrowscreen .dropdown-menu2 li.arrow .fa-angle-right {
    //   position: absolute;
    //   right: 15px;
    //   color: #04aa51;
    //   font-size: 20px;
    //   -webkit-transform: rotate(-90deg);
    //   -ms-transform: rotate(-90deg);
    //   transform: rotate(-90deg);
    // }
  }
}

.dashboard-link {
  display: none;
}

.loggedin .nav-toggle.two .widescreen .main-nav.right-links {
  top: 16px;
}
.loggedin .nav-toggle.two .widescreen .main-nav > .visitor-item {
  display: none;
}
// .loggedin .nav-toggle.two .narrowscreen .login .visitor-item {
//   display: none;
// }
.loggedin .nav-toggle.two .dashboard-link {
  display: inline-block;
}
