$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;

$theme-colors: (
  'primary': #129c35,
  'secondary': #ef4b56,
  'danger': #ee1505,
  'warning': #ffc107,
  'success': #4caf50,
  'info': #17a2b8
);
