$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;

$theme-colors: (
  'primary': #673ab7,
  'secondary': #9c27b0,
  'danger': #f44336,
  'warning': #ffc107,
  'success': #4caf50,
  'info': #17a2b8
);
