@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('/assets/fonts/iransans/fonts.css');
@import url('/assets/fonts/icons/style.css');

[class^='flaticon-'],
[class*=' flaticon-'] {
  font-style: normal !important;
  font-weight: normal;
  &:before,
  &:after {
    font-family: Flaticon;
    font-size: inherit !important;
    margin-left: 0 !important;
  }
}

$font-family: 'IRANSans', 'Roboto', sans-serif;
