html {
  scroll-behavior: smooth;
}
body {
  display: block;
  width: 100%;
  @include rtl {
    background: linear-gradient(to left, #f7f7f7 0%, #f7f7f7 50%, #fff 50%, #fff 100%);
    text-align: right;
    direction: rtl;
  }
  @include ltr {
    background: linear-gradient(to right, #f7f7f7 0%, #f7f7f7 50%, #fff 50%, #fff 100%);
  }
  padding-top: map-get($header, height);
  font-family: $font-family;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: 500;
}
p {
  font-family: $font-family;
}

a {
  color: $link-text-color;

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

$scroll-bar-width: 7px;
::-webkit-scrollbar {
  width: $scroll-bar-width;
  height: $scroll-bar-width;
}

::-webkit-scrollbar-track {
  background-color: #666;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  height: 50px;
  border-radius: 5px;
}

.main-body {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  min-height: calc(100vh - 200px);
  padding: 0;
}

.rtl {
  direction: rtl !important;
}
.ltr {
  direction: ltr !important;
}
.text-rtl {
  direction: rtl !important;
  text-align: right !important;
}
.text-ltr {
  direction: ltr !important;
  text-align: left !important;
}

@each $font-size in (14, 16, 18, 20, 22, 26, 32) {
  .fz-#{$font-size} {
    font-size: $font-size * 1px !important;
  }
}

@for $i from 0 to 6 {
  $lr-list: (
    l: r,
    r: l,
  );

  @each $x, $o-x in $lr-list {
    .m#{$x}-ltr-#{$i} {
      @include rtl {
        @extend .m#{$o-x}-#{$i};
      }

      @include ltr {
        @extend .m#{$x}-#{$i};
      }
    }

    .m#{$x}-rtl-#{$i} {
      @include ltr {
        @extend .m#{$o-x}-#{$i};
      }

      @include rtl {
        @extend .m#{$x}-#{$i};
      }
    }

    .p#{$x}-ltr-#{$i} {
      @include rtl {
        @extend .p#{$o-x}-#{$i};
      }

      @include ltr {
        @extend .p#{$x}-#{$i};
      }
    }
  }
}

$right-left-opposite-list: (
  right: left,
  left: right,
);

@each $dir, $opposite-dir in $right-left-opposite-list {
  .text-#{$dir}-ltr {
    @include rtl {
      @extend .text-#{$opposite-dir};
    }

    @include ltr {
      @extend .text-#{$dir};
    }
  }
}
