<!DOCTYPE html>
<html lang="{{page.lang}}" {% if page.lang == "fa" %} dir="rtl" {% endif %}>

{% include head.html %}

<body>

  <!-- instant hit template container /-->
  <div class="d-none">
    <div id="hits-template">
      <h2>Search Results for "<span id="search-term-display"></span>"</h2>
      <div id="instant-hits"></div>
    </div>
  </div>

  <div class="outer">
    {% include header.html %}
    {% include main-searchbar.html %}
    <div class="hits-target"></div>
    <div class="main-body">
      {% include sidebar.html %}
      {% include doc-article.html %}
    </div>
    {% include footer.html %}
  </div>
</body>

</html>
