<div class="social-container">
  <div class="social-btns">
    <!-- <a href="{{ site.url }}/blog/feed.xml" class="social-btn-rss" title="RSS">
      <i class="fa fa-rss" aria-hidden="true"></i><span class="sr-only">RSS</span>
    </a> -->
    <a href="https://t.me/metrix_ir" target="_blank" class="social-btn-telegram" title="Telegram">
      <i class="fa fa-paper-plane" aria-hidden="true"></i><span class="sr-only">Telegram</span>
    </a>
    <a href="https://twitter.com/Metrix_ir" target="_blank" class="social-btn-twitter" title="Twitter">
      <i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span>
    </a>
    <a href="https://www.youtube.com/channel/UCOuxIYN09P8PvQp9hUjjJNg" target="_blank" class="social-btn-youtube" title="YouTube">
      <i class="fa fa-youtube" aria-hidden="true"></i><span class="sr-only">YouTube</span>
    </a>
    <!-- <a href="https://www.aparat.com/metrix.ir" target="_blank" class="social-btn-aparat" title="Aparat">
      <i class="fa fa-youtube" aria-hidden="true"></i><span class="sr-only">Aparat</span>
    </a> -->
    <a href="https://www.linkedin.com/company/metrix-ir" target="_blank" class="social-btn-linkedin" title="LinkedIn">
      <i class="fa fa-linkedin" aria-hidden="true"></i><span class="sr-only">LinkedIn</span>
    </a>
  </div>
</div>