<nav class="nav-toggle two">
  <div class="container">
    <div>
      <div>
        <div class="widescreen">
          <a href="{{site.global_vars.landing_url}}"><img src="{{ '/assets/img/logos/logo-dark-background.png' | prepend: site.baseurl }}"
                 class="logo" alt="{{site.global_vars.header_logo_alt}}"></a>


          <ul class="left-links main-nav">
            <li class="nav-item"><a href="{{site.global_vars.docs_url}}">{{site.t[page.lang].nav.home}}</a></li>
            <li class="nav-item"><a href="{{site.global_vars.dashboard_url}}">{{site.t[page.lang].nav.dashboard}}</a></li>
            <li class="nav-item"><a href="{{site.global_vars.blog_url}}">{{site.t[page.lang].nav.blog}}</a></li>
            <!-- <li class="default-item nav-item"><a href="https://circleci.com/about/">Company</a>
              <div class="submenu">
                <ul class="subnav">
                  <li class="subnav-item"><a href="https://circleci.com/about/">About Us</a></li>
                  <li class="subnav-item"><a href="https://circleci.com/customers/">Our Customers</a></li>
                  <li class="subnav-item"><a href="https://circleci.com/blog/">Blog</a></li>
                  <li class="subnav-item"><a href="https://circleci.com/jobs/">Jobs</a></li>
                  <li class="subnav-item"><a href="https://circleci.com/contact/">Contact Us</a></li>
                  <li class="subnav-item"><a href="https://circleci.com/partners/">Partner With Us</a></li>
                </ul>
              </div>
            </li> -->
          </ul>

          <ul class="right-links main-nav">
            <li class="nav-item visitor-item">
              <a class="btn-primary small" href="{{site.global_vars.get_demo_url}}" target="_blank">{{site.t[page.lang].nav.get_demo}}</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</nav>