.article-container {
	float: left;
	@media screen and (max-width: $screen-sm) {
		padding: 30px 16px;
		width: 100%;
	}
	padding: 60px 48px;
	width: calc(100% - 260px);

	article {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			// prevent anchor links from being under the global nav
			&[id]:before {
				content: '';
				display: block;
				$top-margin: map-get($header, height) + map-get($searchbar, height) + 20px;
				margin-top: -($top-margin);
				height: ($top-margin);
				visibility: hidden;
			}
			.anchor-link {
				display: none;
				@include rtl-doLTR(margin-right, 7px);
				font-size: 20px;
			}
			&:hover {
				.anchor-link {
					display: initial;
				}
			}
		}
		h2,
		h3,
		h4,
		h5,
		h6 {
			a {
				padding-left: 5px;
				color: #27a0b6;
				&:hover {
					text-decoration: none;
				}
			}
		}

		h1 {
			font-size: 2rem;
		}
		h2 {
			font-size: 1.4rem;
			margin-top: 1.5rem;
			margin-bottom: 1rem;
		}
		h3 {
			margin-top: 10px;
			font-size: 1.2rem;
		}
		h4 {
			font-size: 1.1rem;
		}
		h5 {
		}
		h6 {
		}
		p {
			margin-bottom: 1rem;
			line-height: 1.9;
			text-align: justify;
			&:last-child {
				margin-bottom: 0;
			}
		}

		.article-title {
			border-bottom: 2px solid #eee;
			padding-bottom: 10px;
		}

		// toc
		.section-nav {
			margin: 25px 0;
		}

		.anchor {
			display: none;
		}

		img {
			margin: 15px auto;
			max-width: 100%;
			display: block;
		}

		span.align-center {
			display: block;
			text-align: center;

			img {
				max-width: 90%;
			}
		}

		.highlighter-rouge {
			pre,
			code {
				direction: ltr;
				text-align-last: left;
			}
			pre {
				background: #f6f6f6;
				padding: 12px;
				border-left: 2px solid #ddd;
			}
		}
	}
}
