#header {
	background: #161616;
	position: fixed;
	z-index: 3;
	width: 100%;
	top: 0;
	color: #ffffff;
	height: map-get($header, height);
	.header-content {
		display: flex;
		align-items: center;
		height: map-get($header, height);
		a {
			color: #ffffff;
		}
		.logo {
			@include rtl-doLTR(margin-left, 20px);
			position: relative;
			bottom: 2px;
			.logo-image {
				height: 25px;
			}
		}
		.header-nav {
		}
		.header-nav-btns {
			@include rtl-doLTR(margin-right, auto);
		}
		.req-demo-btn {
			height: auto;
			display: inline-block;
			text-align: center;
			padding: 10px 0;
		}

		.main-nav {
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 14px;
			.nav-item {
				display: inline-block;
				padding: 0 8px;
				font-weight: bold;
				cursor: pointer;
				&:hover .submenu {
					display: block;
				}
			}
		}

		.submenu {
			display: none;
			position: absolute;
			list-style: none;
			.subnav {
				margin-top: 20px;
				background: #ffffff;
				color: #161616;
				@include ltr-doRTL(padding, 4px 16px 10px 15px);
				border-radius: 2px;
				box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.2);
				font-weight: 400;
				min-width: 175px;
				&::before {
					content: '';
					width: 0;
					height: 0;
					position: absolute;
					top: 15px;
					@include ltr-doRTL(left, 28px);
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-bottom: 5px solid #ffffff;
				}
				.subnav-item {
					display: block;
					padding: 5px 2px;
					margin: 4px 0;
					width: 100%;
					&.border-bottom {
						border-bottom: 1px solid #f3f3f3;
					}
					&:hover {
						color: #1cbf43;
					}
				}
			}
		}
	}
}
