@charset "UTF-8";
@import 'bootstrap';
@import 'fonts';
@import 'mixins';
@import 'vars';
@import 'utils';
@import 'general';
@import 'header';

@import 'variables';
@import './old-should-remove/spacing';
@import './old-should-remove/buttons';
@import './old-should-remove/jquery.navgoco';
@import './old-should-remove/mobile';
@import 'sidebar';
@import 'instantsearch';

// General
.main-body {
	overflow: auto;
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	background: #fff;
	min-height: calc(100vh - 200px);
}

#hits-template {
	display: block;
	max-width: 1180px;
	margin: 50px auto 0 auto;
}

.text-center-small-float-right {
	float: right;
	@media screen and (max-width: $screen-sm) {
		text-align: center;
		float: none;
	}
}

.text-center-small-float-left {
	float: left;
	@media screen and (max-width: $screen-sm) {
		text-align: center;
		float: none;
	}
}

.logo-small {
	max-width: $logo-width-small;
}

// Search bar
#site-search {
	padding-bottom: 30px;

	input {
		margin: 0;
		padding: 0 1em;
	}

	.algolia-autocomplete {
		width: 100%;
	}

	.algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
		left: 0 !important;
		right: none !important;
	}
}

// Article
@import 'article';

div.align-center {
	img {
		max-width: 90%;
		text-align: center;
	}
}

/***** Widgets ****************************************************************/
//
//*****************************************************************************/

.alert-danger a {
	color: #843534;
	font-weight: bold;
}
/***** End - Widgets **********************************************************/
//
//*****************************************************************************/

.list-2cols {
	display: grid;
	grid-template-columns: 50% 50%;
}

@import 'footer';

// Pages
@import 'pages/home';
