@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?k8dowd');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?k8dowd#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?k8dowd') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?k8dowd') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?k8dowd##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="picon-"], [class*=" picon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.picon-right-chevron {
  &:before {
    content: $picon-right-chevron; 
  }
}
.picon-up-chevron {
  &:before {
    content: $picon-up-chevron; 
  }
}
.picon-link {
  &:before {
    content: $picon-link; 
  }
}
.picon-left-chevron {
  &:before {
    content: $picon-left-chevron; 
  }
}
.picon-down-chevron {
  &:before {
    content: $picon-down-chevron; 
  }
}
.picon-publisher {
  &:before {
    content: $picon-publisher; 
  }
}
.picon-advertiser {
  &:before {
    content: $picon-advertiser; 
  }
}

