$icomoon-font-family: "picon-doc-yelloadwise" !default;
$icomoon-font-path: "fonts" !default;

$picon-right-chevron: "\f105";
$picon-up-chevron: "\f103";
$picon-link: "\f101";
$picon-left-chevron: "\f102";
$picon-down-chevron: "\f104";
$picon-publisher: "\e901";
$picon-advertiser: "\e906";
$picon-question: "\ea09";

