<head>
	{% if page.url contains '/archive/' %}
	<meta name="robots" content="noindex, nofollow" />
	{% endif %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description"
				content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	{% if page.redirect %}
	<meta http-equiv="refresh" content="0; url={{ page.redirect }}">
	{% endif %}

	<link href=" {{ site.baseurl }}/assets/images/logos/favicon.png" rel="icon" type="image/png" />

	<!-- Styles -->
	<link rel="stylesheet" href=" {{ site.baseurl }}/assets/style.css?v={{ 'now' | date:'%s' }}" />
	<!-- End Styles -->

	<title>{% if page.title %}{{ page.title | escape }} - {{site.site_name}}{% else %}{{ site.title | escape }} -
		{{site.site_name}}{% endif %}</title>

</head>
