---
---

@import 'mixins';
@import 'vars';
@import 'variables';
@import 'navbar';
@import 'sidebar';
@import 'instantsearch';

// General
$font-family: 'IRANSans', 'Roboto', sans-serif;
body {
  color: $body-text-color;
  display: block;
  width: 100%;
  @include rtl {
    background: linear-gradient(to left, #f7f7f7 0%, #f7f7f7 50%, #fff 50%, #fff 100%);
  }
  @include ltr {
    background: linear-gradient(to right, #f7f7f7 0%, #f7f7f7 50%, #fff 50%, #fff 100%);
  }
  padding-top: map-get($header, height);
  font-family: $font-family;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: 500;
}
p {
  font-family: $font-family;
  color: $body-text-color;
}

a {
  color: $link-text-color;

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

.main-body {
  overflow: auto;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  min-height: calc(100vh - 400px);
}

#hits-template {
  display: block;
  max-width: 1180px;
  margin: 50px auto 0 auto;
}

.text-center-small-float-right {
  float: right;
  @media screen and (max-width: $screen-sm) {
    text-align: center;
    float: none;
  }
}

.text-center-small-float-left {
  float: left;
  @media screen and (max-width: $screen-sm) {
    text-align: center;
    float: none;
  }
}

.logo-small {
  max-width: $logo-width-small;
}

.no-margin {
  margin: 0px;
}

ul.horizontal {
  li {
    display: inline-block;
    padding: 0 $spacing-medium-horizontal 0 0;
  }
  &.blue {
    a {
      color: $blue;
      text-transform: initial;
      font-size: $font-size-base;
    }
  }
}

.text-blue {
  color: $blue;
}

hr.dark {
  border-color: $black-light;
}

footer {
  li,
  span {
    text-transform: initial;
    font-size: $font-size-base;
  }
}

// Main Nav Additions
nav.nav-toggle.two {
  .btn,
  .btn-primary,
  .btn-primary-enterprise {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
  }

  a:hover {
    text-decoration: none;
  }
}

// Navigation Sidebar
#nav-button {
  display: none;
}

// Search bar
#site-search {
  padding-bottom: 30px;

  input {
    margin: 0;
    padding: 0 1em;
  }

  .algolia-autocomplete {
    width: 100%;
  }

  .algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
    left: 0 !important;
    right: none !important;
  }
}

// Article
@import 'article';

div.align-center {
}
div.align-center img {
  max-width: 90%;
  text-align: center;
}

// Homepage
body.homepage {
  .article-container {
    @media screen and (max-width: $screen-sm) {
      padding: 30px 16px;
      width: 100%;
    }
    padding: 60px 48px;
    width: calc(100% - 260px);
  }

  article {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  div.category-section {
    padding: 15px 10px 20px;
    width: 50%;
    text-align: center;
    .logo {
      width: 60px;
    }

    h2 {
      font-size: 1.5rem;
    }

    li a {
      font-size: 0.875rem;
    }
  }
}

code {
  padding: 2px;
}

/***** Widgets ****************************************************************/
//
//*****************************************************************************/

.alert-danger a {
  color: #843534;
  font-weight: bold;
}
/***** End - Widgets **********************************************************/
//
//*****************************************************************************/

.list-2cols {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* A fix for https://github.com/circleci/circleci-docs/issues/1978 */
body > img:last-of-type {
  display: none;
}

@import 'footer';
